:root {
    --dark: #222831;
    --lightdark: #393e46;
    --blueish: #00adb5;
    --light: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lightdark);
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
    position: relative;
    transition: all 400ms ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
    background-color: var(--lightdark);
    transition: all 400ms ease-in-out;
}

.header .logo {
    color: var(--light);
    font-size: 2rem;
    font-weight: 900;
}

.nav-bar ul {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

ul a,
a {
    color: var(--blueish);
    text-decoration: none;
    transition: all 400ms ease-in-out;
}

.container {
    padding-top: 100px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 400ms ease-in-out;
}

button {
    width: 100px;
    height: 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: var(--light);
    color: var(--dark);
    align-self: center;
    border: 2px solid var(--dark);
    transition: all 400ms ease-in-out;
    z-index: 999;
}

button:hover {
    cursor: pointer;
    background-color: var(--lightdark);
    color: var(--light);
    border-color: var(--blueish);
    transition: all 400ms ease-in-out;
}

.table-wrapper {
    width: 70%;
    margin: 10px 70px 70px;
}

table {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: var(--dark);
    color: var(--light);
}

table td,
table th {
    box-shadow: 0px 0px 1000px var(--blueish);
    text-align: center;
    padding: 8px;
    border: 1px solid var(--blueish);
}

table th {
    color: var(--dark);
    background: var(--light);
}

table tr:nth-child(odd) {
    background: var(--lightdark);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: var(--dark);
    box-shadow: 0 0 40px var(--dark);
    position: absolute;
    top: 50%;
    left: -550%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

.form-container-show {
    left: 50%;
    transition: all 0.4s ease-in-out;
    z-index: 9999;
}

form,
form ul > li {
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: var(--blueish);
    align-items: center;
    text-align: center;
}

form li:nth-child(4) {
    display: block;
    padding: 10px;
}

.p-error {
    padding-bottom: 10px;
    color: red;
}

body.light,
.header.light {
    background-color: var(--blueish);
    transition: all 400ms ease-in-out;
}
.container.light {
    background-color: var(--light);
    transition: all 400ms ease-in-out;
}

ul a.light,
a.light {
    color: var(--dark);
    transition: all 400ms ease-in-out;
}
